h1{
  font-family: $playfair-display;
  font-weight: $black-italic;
  font-size: $xx-large;
}

h5{
  font-family: $playfair-display;
  font-size: $x-large;
}



p h3{
  font-family: $roboto;

}

a{
  font-family:$roboto;
  font-weight:$regular;
}
